:root{
    /*COLORS*/
    --app-clr-primary: #4389a1;
    --app-clr-secondary:#a15b43;
    --app-clr-primary-muted:#94c3d3;
    --app-clr-secondary-muted:#d3a494;
    /*TEXT*/
    --app-clr-txt-drk: #2c3e50;
    --app-clr-txt-lte:#ecf0f1;
    --app-clr-txt:#bdc3c7;
    --app-clr-link: #2c3e50;


    /*BG*/
    --app-clr-section-top: var(--app-clr-primary);

    --app-nav-link-hover-color: #4389a1;


    /*TYPO*/
    --app-typo-ff:Arial, Helvetica, sans-serif;
    --app-typo-fs : 14px;
    --app-typo-h: 3rem;
    --app-typo-nav: 1.5rem;
    --app-typo-content-h: 2rem;
    --app-typo-content-txt: 1rem;
    --app-typo-content-subh: 1.5rem;
    --app-typo-content-subtxt: 1rem;


    /*SIZING*/
    --app-section-padding: .5rem;
    --app-layout-width : 100%;
    --app-border-radius : 1rem;

    /*LINKS*/


    /*NAVIGATION*/
    --app-nav-bg: #f8f9fa;
}

/* Media queries for different breakpoints */
/* Phone (max-width: 600px) */
@media (max-width: 500px) {
    :root {
        --app-fs: 14px;
        /* Smaller font size */
        /* Slightly reduce layout width */
    }
    .HEADER_NAV{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .PANE_CONTENT_INFO{
        flex-direction: column !important;
    }
}
/* Small desktop (min-width: 900px) and (max-width: 1200px) */
@media (max-width: 650px) {
    :root {
        --app-fs: 14px;
        /* Slightly larger font size for small desktops */
        /* Reduce layout width */
    }
}
/* Tablet (min-width: 600px) and (max-width: 900px) */
@media (min-width: 500px) and (max-width: 800px) {
    :root {
        --app-fs: 14px;
        /* Adjust font size for tablets */
        /*--app-layout-width: 650px;*/
        /* Adjust layout width */
    }
}
/* Small desktop (min-width: 900px) and (max-width: 1200px) */
@media (min-width: 650px) and (max-width: 950px) {
    :root {
        --app-fs: 16px;
        /* Slightly larger font size for small desktops */
       /* --app-layout-width: 800px;*/
       --app-layout-width: 100%;
        /* Reduce layout width */
    }
}
/* Small desktop (min-width: 900px) and (max-width: 1200px) */
@media (min-width: 800px) and (max-width: 1100px) {
    :root {
        --app-fs: 16px;
        /* Slightly larger font size for small desktops */
       /* --app-layout-width: 950px; */
       --app-layout-width: 85vw;

        /* Reduce layout width */
    }
}
/* Small desktop (min-width: 900px) and (max-width: 1200px) */
@media (min-width: 900px) and (max-width: 1200px) {
    :root {
        --app-fs: 18px;
        /* Slightly larger font size for small desktops */
        /* --app-layout-width: 1100px; */
        --app-layout-width: 82.5vw;
        /* Reduce layout width */
    }
}
/* Large desktop (min-width: 1200px) */
@media (min-width: 1200px) {
    :root {
        --app-fs: 18px;
        /* Larger font size for large desktops */
        --app-layout-width: 80vw;
        /* Reduce layout width to create spacing */
    }
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/gfont.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    color: var(--app-clr-txt-lte);
  }
  
html {
    font-family: var(--app-typo-ff);
    font-size: var(--app-fs);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    height: 100vh;
}

.APP_PANE{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto) 1fr;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: var(--app-layout-width);
   /* height:100vh; */

    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
    /*
    ==============================================================
    1 ROW HEADER
        CONTAINS:LOGO, NAME AND NAVIGATION
    ==============================================================
    */
    .PANE_HEADER {
        background-color: var(--app-clr-primary);
        color: var(--app-clr-txt-drk);
        text-align: center;
    }
        .HEADER_NAV{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-size: var(--app-fs);
            padding: var(--app-section-padding);
            padding-bottom:0px;
        }
            .NAV_BRAND{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-shadow: 0 0 7px rgb(255, 255, 255); /* Adjust the color and size of the glow */
            }
                .NAV_BRAND logo{
                    padding:0px;
                }
                .NAV_BRAND name{
                    font-size: 1.5rem;
                }
            .NAV_LINKS{
                display: flex;
                list-style: none;
                font-size:.75rem;
            }
                .NAV_LINKS li {
                    border-bottom:3px solid var(--app-clr-primary)
                }
                .NAV_LINKS li:hover {
                    background-color: var(--app-clr-primary-muted);
                    border-bottom:3px solid var(--app-clr-link);
                    border-top-left-radius: var(--app-border-radius);
                    color: var(--app-clr-secondary);
                }
                    .NAV_LINKS li a{
                        color: var(--app-clr-txt-lte);
                        display: block;
                        padding: var(--app-section-padding);
                        text-decoration: none;

                    }
                    .NAV_LINKS li a:hover{
                        color: var(--app-clr-secondary);
                    }


    /*
    ==============================================================
    2 ROW HERO
        CONTAINS:ANIMATION / VISUAL
    ==============================================================
    */      
    .PANE_HERO{
        padding: var(--app-section-padding);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
        .HERO_SHOW {
            margin: 10px;
            font-size: 24px;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .HERO_SHOW.HERO_HIDE {
            opacity: 1;
            transform: translateY(0);
        } 
    
    
    /*
    ==============================================================
    3 ROW MAIN CONTENT
        CONTAINS:VIEWS MAIN CONTENT AREA 
    ==============================================================
    */
    .PANE_CONTENT_MAIN{
        padding: var(--app-section-padding);
    }
        .MAIN_HOME{

        }
            .MAIN_HOME h1{
                background-color: var(--app-clr-primary);
                border-top-right-radius: var(--app-border-radius);
                padding: var(--app-section-padding);
            }
            .MAIN_HOME p{
                background-color: var(--app-clr-primary-muted);
                padding: var(--app-section-padding);
            }
    /*
    ==============================================================
    4 ROW INFORMATION 
        CONTAINS:ADS, CTA'S
    ==============================================================
    */
    .PANE_CONTENT_INFO {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: var(--app-section-padding);
    }
        .PANE_CONTENT_INFO div{
            padding: var(--app-section-padding);
        }
            .INFO_CARD{
                padding: inherit;
                background-color: var(--app-clr-secondary);
                border-top-left-radius: var(--app-border-radius);
            }
`

    /*
    ==============================================================
    5 ROW FOOTER
        CONTAINS:COPYRIGHT, TOS, PRIVACY, SOCIAL LINKS
    ==============================================================
    */
    .PANE_FOOTER {
        padding: var(--app-section-padding);
    }
