<div class="PANE_CONTENT_MAIN">
    <div class="MAIN_ROUTE">
        <h1>{{ _ROUTE_HEADING }}</h1>
        <p>{{ _ROUTE_INTRO }}</p>   
    </div>
</div>
<div class="PANE_CONTENT_INFO">
    <div class="CONTENT_LEFT">
        <div class="INFO_CARD">
            {{VIEW_INFO_LEFT}}  
        </div>
    </div>
    <div class="CONTENT_CENTER">
        <div class="INFO_CARD">
            {{VIEW_INFO_CENTER}}   
        </div>
    </div>
    <div class="CONTENT_RIGHT">
        <div class="INFO_CARD">
         {{VIEW_INFO_RIGHT}}   
        </div>
    </div>
</div>


