<primary>
<h2>Thanks for dropping by!!</h2>
<p>If your a coder take a look at some of my current <a href="/public_html/public/?strRoute=/Projects">Projects</a>.
Potential employers can see the web version of my <a href="/public_html/public/?strRoute=/Resume">Resume</a> and if your 
in need of a Web Application, Computer/Network repair or consulting, get a <a href="/public_html/public/?strRoute=/Services/Quote">Quote</a>
for one of my <a href="/public_html/public/?strRoute=/Services">Services</a>
</p>
</primary>
<secondary>
<div class="card">
    <div class="card-header">
        <h2>Skills</h2>
    </div>
    <div class="card-content">
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node.js</li>
            <li>MongoDB</li>
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
            <li>Swift</li>
        </ul>
    </div>
    <div class="card-cta">
        <a href="#" class="btn btn-primary">View More</a>
    </div>
</div>
</secondary>