<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{strPageTitle}}</title>
</head>
<body>
    <div class="APP_PANE">
        <div class="PANE_HEADER">
            <div class="">
                <img src="res/img/logo.png" alt="Chris McIntosh Logo">
            </div>
        </div>
        <div class="PANE_CONTENT">
            {{strContent}}
        </div>
        <div class="PANE_FOOTER">
            &copy; 2022 Chris McIntosh. All rights reserved.
        </div>
    </div>
</body>
</html>