<div class="PANE_CONTENT_MAIN">
    <div class="MAIN_CARD">
        <h1 class="MAIN_HEADING">{{RESUME_HEADING}}</h1>
        <p class="MAIN_INTRO">{{RESUME_INTRO}}</p>
    </div>
</div>
<div class="pdf-container">
    <object data="../res/pdf/cjm.resume.pdf" type="application/pdf" width="100%" height="600px">
        <p>Unable to display PDF file. <a href="../res/pdf/cjm.resume.pdf">Download</a> instead.</p>
    </object>
</div>
<div class="PANE_CONTENT_INFO">
    <div class="CONTENT_LEFT">
        <div class="INFO_CARD">
            <h3 class="INFO_HEADING">{{INFO_SKILLS_HEADING}}</h3>
            <p class="INFO_INFO">{{INFO_SKILLS_INFO}}</p>
            <a class="INFO_CTA" href="{{INFO_SKILLS_CLICKURL}}">{{INFO_SKILLS_CLICKTXT}}</a>
        </div>
    </div>
    <div class="CONTENT_CENTER">
        <div class="INFO_CARD">
            <h3 class="INFO_HEADING">{{INFO_EDU_HEADING}}</h3>
            <p class="INFO_INFO">{{INFO_EDU_INFO}}</p>
            <a class="INFO_CTA" href="{{INFO_EDU_CLICKURL}}">{{INFO_EDU_CLICKTXT}}</a>
        </div>
    </div>
    <div class="CONTENT_RIGHT">
        <div class="INFO_CARD">
            <h3 class="INFO_HEADING">{{INFO_DOWNLOAD_HEADING}}</h3>
            <p class="INFO_INFO">{{INFO_DOWNLOAD_INFO}}</p>
            <a class="INFO_CTA" href="{{INFO_DOWNLOAD_CLICKURL}}">{{INFO_DOWNLOAD_CLICKTXT}}</a>
        </div>
    </div>
</div>


