<div class="PANE_CONTENT_MAIN">
    <div class="MAIN_CARD">
        <h1 class="MAIN_HEADING">{{ SERVICES_HEADING }}</h1>
        <p class="MAIN_INTRO">{{ SERVICES_INTRO }}</p>   
    </div>
</div>
<div class="PANE_CONTENT_INFO">
    <div class="CONTENT_LEFT">
        <div class="INFO_CARD">
            <h3 class="INFO_HEADING">{{ INFO_DEVEL_HEADING }}</h3>
            <p class="INFO_INFO">
                {{ INFO_DEVEL_INFO }}
            </p>
            <a class="INFO_CTA" href="{{ INFO_DEVEL_CLICKURL }}">{{ INFO_DEVEL_CLICKTXT }}</a>
        </div>
    </div>
    <div class="CONTENT_CENTER">
        <div class="INFO_CARD">
            <h3 class="INFO_HEADING">{{ INFO_DESIGN_HEADING }}</h3>
            <p class="INFO_INFO">
                {{ INFO_DESIGN_INFO }}
            </p>
            <a class="INFO_CTA" href="{{ INFO_DESIGN_CLICKURL }}">{{ INFO_DESIGN_CLICKTXT }}</a>
        </div>
    </div>
    <div class="CONTENT_RIGHT">
        <div class="INFO_CARD">
            <h3 class="INFO_HEADING">{{ INFO_DIAG_HEADING }}</h3>
            <p class="INFO_INFO">
                {{ INFO_DIAG_INFO }}
            </p>
            <a class="INFO_CTA" href="{{ INFO_DIAG_CLICKURL }}">{{ INFO_DIAG_CLICKTXT }}</a>
        </div>   
    </div>
</div>