<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-template="VIEW_TITLE">{{VIEW_PAGE_TITLE}}</title>
</head>
<body>
    <div class="APP_PANE">
        <div class="PANE_HEADER">
            <nav class="HEADER_NAV">
                <div class="NAV_BRAND">
                    <logo data-template="APP_LOGO"></logo>
                    <name data-template="APP_NAME"></name>
                </div>
                <ul class="NAV_LINKS">
                    <li><a href="?strRoute=/Home">Home</a></li>
                    <li><a href="?strRoute=/Resume">Resume</a></li>
                    <li><a href="?strRoute=/Contact">Contact</a></li>
                    <li><a href="?strRoute=/Services">Services</a></li> 
                </ul>
            </nav>
                 
        </div>
        <div class="PANE_HERO">
        </div>
        <main data-view="VIEW">
        </main>
        <div class="PANE_FOOTER">
                <div class="FOOTER_LINKS">
                  <!-- Footer Links -->
                  <div style="margin: 5px;">
                    <a href="/TOS">Terms of Service</a>
                  </div>
                  <div style="margin: 5px;">
                    <a href="/Privacy">Privacy Policy</a>
                  </div>
                  <div style="margin: 5px;">
                    <a href="/contact">Contact</a>
                  </div>
                </div>
              
                <!-- Social Links -->
                <div class="FOOTER_SOCIAL">
                  <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-facebook"></i>
                  </a>
                  <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-twitter"></i>
                  </a>
                  <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-linkedin"></i>
                  </a>
                  <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </div>
              
                <!-- Copyright Section -->
                <div class="FOOTER_COPY">
                  © 2024 cmcintosh.net All rights reserved.
                </div>
        </div>
    </div>
</body>
</html>